/*Default*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  /*font-family: 'Comfortaa', cursive;*/
  font-family: 'Inter', sans-serif;
  color: #262c27;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/*Default*/

/*Header*/

.header {
  background-image: url(../assets/images/header/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  position: relative;
  margin-bottom: 80px;
}

header::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(35%);
  background-image: url(../assets/images/header/header-decor.svg);
  z-index: 2;
}

header::after {
  background-image: url(../assets/images/header/header-decor.svg);
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(75%) rotate(180deg);
  z-index: 3;
}

.header-top {
  display: flex;
  align-items: center;
  padding: 57px 0;
  gap: 100px;
  justify-content: flex-end;
}

.header__logo path {
  transition: fill 0.3s ease;
}

.header__logo:hover path {
  fill: #0093a1;
}

.header__btn {
  font-family: 'Comfortaa', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  background-color: #262c27;
  padding: 12px 77px 8px 71px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  border: none;
}

.header__btn:hover {
  background-color: #b9c400;
}

.header__phone {
  font-family: 'Comfortaa', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
}

.header-content {
  min-height: calc(100vh - 161px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.header-content__box {
  max-width: 550px;
  text-align: center;
  margin-right: 30px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  font-family: 'Comfortaa', cursive;
}

.header-content__title {
  font-style: normal;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 71px;
  margin-bottom: 20px;
}

.header-content__text {
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 27px;
}

.header__decor-text {
  position: absolute;
  bottom: 20px;
  color: #0093a1;
}

.decor1 {
  z-index: 1;
  right: 145px;
  bottom: 100px;
}

.decor1,
.decor2 {
  opacity: 0.3;
  font-family: 'Comfortaa', cursive;
  font-size: 130px;
  line-height: 145px;
}

.decor2 {
  z-index: 4;
  left: 265px;
  bottom: 0;
}

.decor3 {
  max-width: 360px;
  right: 145px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  z-index: 4;
}

/*Header*/

/*Info*/

.info {
  background-image: url('../assets/images/info/sup-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.info::before {
  content: '';
  background-color: #262c27;
  position: absolute;
  height: 130px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translateY(-120px);
}

.info__top {
  display: flex;
  gap: 80px;
  padding-top: 100px;
  margin-bottom: 70vh;
}

.info__top-text {
  padding-top: 245px;
  width: 290px;
  color: #fff;
  position: relative;
}

.info__top-text:nth-child(1) {
  padding-bottom: 110px;
}

.info__top-text:nth-child(2) {
  border-bottom: 1px solid #ffffff;
}

.info__top-img {
  position: relative;
  z-index: 6;
}

.popup-btn-play {
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: transparent;
  position: absolute;
}

.popup-btn-play span {
  color: #fff;
  display: block;
  padding-top: 12px;
}

.popup-btn-play path,
.popup-btn-play circle,
.popup-btn-play span {
  transition: 0.3s all ease-in;
}

.popup-btn-play:hover path,
.popup-btn-play:hover span {
  fill: #b9c400;
  color: #0093a1;
}

.popup-btn-play:hover circle {
  stroke: #b9c400;
}

.info__btn {
  bottom: 0;
  right: 0;
}

.info__specs {
  display: flex;
  align-items: center;
  gap: 130px;
  color: #ffffff;
  padding-bottom: 50px;
}

.info__specs-title {
  text-transform: uppercase;
  font-size: 60px;
  line-height: 67px;
  font-family: 'Comfortaa', cursive;
  width: 250px;
  font-weight: 400;
}

.info__specs-list {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 30px 0;
  width: 565px;
  font-weight: 600;
}

.info__specs-item {
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
}

.info__specs-caption {
  width: 185px;
}

/*Info*/

/*Buy*/

.buy {
  padding: 150px 0 0;
}

.buy__inner {
  display: flex;
  align-items: center;
  gap: 90px;
}

.buy__content {
  width: 510px;
  position: relative;
}

.buy__title {
  font-size: 60px;
  line-height: 67px;
  color: #0093a1;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 400;
}

.buy__list {
  margin-bottom: 25px;
}

.buy__item {
  margin-bottom: 25px;
  width: 292px;
}

.buy__item-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
  transition: color 0.3s;
}

.buy__item:hover .buy__item-title {
  color: #0093a1;
}

.buy__price {
  position: absolute;
  width: 201px;
  height: 199px;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: #262c27;
  background-image: url('../assets/images/buy/star.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 130px;
}

.buy__btn {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.3s;
  border: 2px solid #0093a1;
  text-align: center;
  cursor: pointer;
  padding: 18px;
  max-width: 484px;
  color: #0093a1;
  width: 100%;
}

.buy__btn:hover {
  background-color: #b9c400;
  color: #262c27;
  border-color: #b9c400;
}

/*Buy*/

/*Technology*/

.technology {
  margin-bottom: 150px;
}

.technology__top {
  background-image: url('../assets/images/technology/tech-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.technology__top-inner {
  position: relative;
  min-height: 110vh;
}

.technology__btn {
  right: 355px;
  top: 50vh;
}

.technology__top-box {
  position: absolute;
  left: 0;
  bottom: 70px;
}

.technology__title {
  font-family: 'Comfortaa', cursive;
  font-size: 60px;
  line-height: 67px;
  max-width: 470px;
  font-weight: 400;
  margin-bottom: 62px;
  text-transform: uppercase;
}

.technology__list {
  margin: 0;
  padding-left: 20px;
}

.technology__list-item {
  padding-left: 24px;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
  font-weight: 700;
}

.gallery__box {
  display: flex;
  gap: 68px;
  margin-top: 115px;
}

.gallery__text {
  width: 350px;
}

.gallery-min {
  display: grid;
  gap: 30px 24px;
  grid-template-columns: 481px 208px;
  grid-template-rows: 432px 300px;
  margin-top: -35%;
  position: relative;
  padding: 72px 31px 52px;
  margin-bottom: 150px;
}

.gallery-min::before {
  content: '';
  border: 3px solid #262c27;
  border-radius: 200px 0 300px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

.gallery-min__img-1 {
  grid-column: 1 /3;
  border-radius: 400px 0 0 0;
}

.gallery-min__img-2 {
  border-radius: 0 0 0 300px;
}

/*Technology*/
